
/*Custom CSS*/
.title-flag {
  height: 16px;
}

.tile_stats_count .top-title-counter-wrapper {
  margin-top: 0;
  margin-left: 1rem;
}

.tile_stats_count .top-title-counter-wrapper .count {
  line-height: 1;
}
.title-rest-world {
  overflow-x: scroll;
  margin-bottom: 0;
  flex-wrap: nowrap;
}

.title-rest-world .title-content-world{
  overflow: unset;
}

.media .profile_thumb.tweet-feed {
  padding: 0;
}
.tweet-feed img {
  border-radius: 50%;
}

.scroll-view  {
  overflow: scroll;
}

/**/
.case-spike-hike {
  font-size: 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.divider {
  border: 1px solid #eceeef;
}

.top-panel-card-footer {
  height: 5px;
}

.carousel-inner-wrapper {
  max-height: 450px;
  overflow-x: scroll;
}

.world-stat-cards,
.carousel-wrapper  {
  flex-direction: row;
}

.user-activity-card.card {
  height: 450px;
  overflow-y: scroll;
}


@media (max-width: 992px) {
  .main-body .page-wrapper{
    padding: 0;
  } 
  .world-stat-cards {
    flex-wrap: wrap;
  }
  .carousel-wrapper {
    flex-wrap: wrap;
  }
  .carousel-inner-wrapper {
    display: flex;
  }
}

@media (max-width: 480px) {
  .carousel-inner-wrapper .col {
    padding-right: 0;
  }

}